*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-bg: hsl(58, 69%, 68%);
  --color-bg-warning: hsl(18, 69%, 68%);
  --color-bg-highlight: hsl(58, 40%, 76%);
  --color-bg-shadow: hsla(57, 145%, 10%, 0.6);
  --color-hex: hsl(233, 81%, 65%);
  --color-fill: #c9a87d;
  --color-fill-sea: #f6cd9e;
  --color-fill-sea-opaque: hsla(32, 83%, 79%, 0.8);
}

body {
  margin: 0;
  padding: 0;
  background: rgb(212, 208, 168);
  background: linear-gradient(
    4deg,
    rgba(212, 208, 168, 1) 0%,
    rgba(213, 207, 150, 1) 49%,
    rgba(194, 180, 38, 1) 100%
  );
  font-family: 'Amatic SC';
  font-size: 1rem;
}

#root {
  width: 100vw;
  height: 100vh;
}
