*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-bg: rgb(230, 226, 119);
  --color-bg-warning: rgb(230, 152, 119);
  --color-bg-highlight: rgb(218, 216, 169);
  --color-hex: rgb(94, 111, 238);
  --color-fill: #c9a87d;
  --color-fill-sea: #f6cd9e;
  --color-fill-sea-opaque: rgba(246, 205, 158, 0.6);
}

body {
  margin: 0;
  padding: 0;
  background: rgb(212, 208, 168);
  background: linear-gradient(
    4deg,
    rgba(212, 208, 168, 1) 0%,
    rgba(213, 207, 150, 1) 49%,
    rgba(194, 180, 38, 1) 100%
  );
  font-family: 'Amatic SC';
  font-size: 1rem;
}

#root {
  width: 100vw;
  height: 100vh;
}
